<section class="section section-text section_padding_xl">
    <div class="container">
        <div class="row section-text__row">
            <div class="col-12">
                <div data-scroll-watch class="section__title scroll-watch">Build it beautiful</div>
            </div>
        </div>
        <div class="row section-text__row">
            <div class="col-12 col-md-6">
                <div data-scroll-watch class="section__description scroll-watch">
                    <p>Sometimes bold ideas don't require a full website. That's why Cover Pages can be used to convey a single idea in a beautiful way.</p>
                </div>
            </div>
        </div>
    </div>
</section>