<section class="section section-text section_padding_xl">
    <div class="container container_fluid">
        <div class="row section-text__row">
            <div class="col-12">
                <div data-scroll-watch class="section__title scroll-watch">Join over 1 million customers</div>
            </div>
        </div>
    </div>
</section>