<section class="section section-do-it section_padding_xl section_gray">
    <div class="container">
        <div class="row section-do-it__header">
            <div class="col-12 col-md-8">
                <div class="section-do-it__title">Do it by yourself</div>
            </div>
        </div>
    </div>
    <div class="do-it">
        <div class="do-it__row">
            <div class="container">
                <div class="row">
                    <div data-scroll-watch class="col-12 col-md-4 do-it__column do-it__column-0 scroll-watch">
                        @include('src/views/_do-it-micro.html', {
                            "index" : "0"
                        })
                    </div>
                    <div data-scroll-watch class="col-12 col-md-8 do-it__column do-it__column-1 scroll-watch">
                        @include('src/views/_do-it-micro.html', {
                            "index" : "1"
                        })
                    </div>
                </div>
            </div>
        </div>
        <div class="do-it__row">
            <div class="container">
                <div class="row">
                    <div data-scroll-watch class="col-12 do-it__column do-it__column-2 scroll-watch">
                        @include('src/views/_do-it-micro.html', {
                            "index" : "2"
                        })
                    </div>
                </div>
            </div>
            <div data-scroll-watch class="do-it__column do-it__column-5 scroll-watch">
                @include('src/views/_do-it-micro.html', {
                    "index" : "5"
                })
            </div>
            <div data-scroll-watch class="do-it__column do-it__column-6 scroll-watch">
                @include('src/views/_do-it-micro.html', {
                    "index" : "6"
                })
            </div>
        </div>
        <div class="do-it__row">
            <div class="container">
                <div class="row">
                    <div data-scroll-watch class="col-12 col-md-6 do-it__column do-it__column-3 scroll-watch">
                        @include('src/views/_do-it-micro.html', {
                        "index" : "3"
                        })
                    </div>
                    <div data-scroll-watch class="col-12 col-md-6 do-it__column do-it__column-4 scroll-watch">
                        @include('src/views/_do-it-micro.html', {
                            "index" : "4"
                        })
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>