<div class="do-it__micro">
    <figure>
        <img src="/images/do-it/image-@index.jpg" alt="">
    </figure>
    <div class="do-it__holder">
        <a href="javascript:;" class="button button-demo">
            <span>View Demo</span>
        </a>
    </div>
</div>