<section class="section section-features section_padding_xl section_gray">
    <div class="container">
        <div data-scroll-watch class="row section-features__row scroll-watch">
            <div style="transition-delay: 0ms;" class="col-12 col-sm-6 col-md-4 section-features__column">
                <div class="features-micro text-center">
                    <div class="features-micro__icon">
                        <figure>
                            <img src="/images/features/icon-0.svg" width="60" height="60" alt="">
                        </figure>
                    </div>
                    <div class="features-micro__headline">
                        <div class="features-micro__title">GET A CUSTOMIZED <br> EMAIL ADDRESS AND MORE</div>
                    </div>
                    <div class="features-micro__description">
                        <p>Looking cautiously round, to ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.</p>
                    </div>
                    <a href="javascript:;" class="button button-text">Learn More</a>
                </div>
            </div>
            <div style="transition-delay: 100ms;" class="col-12 col-sm-6 col-md-4 section-features__column">
                <div class="features-micro text-center">
                    <div class="features-micro__icon">
                        <figure>
                            <img src="/images/features/icon-1.svg" width="60" height="60" alt="40 MILLION HIGH QUALITY IMAGES" title="40 MILLION HIGH QUALITY IMAGES">
                        </figure>
                    </div>
                    <div class="features-micro__headline">
                        <div class="features-micro__title">40 MILLION HIGH <br> QUALITY IMAGES</div>
                    </div>
                    <div class="features-micro__description">
                        <p>At first, for some time, I was not able to answer him one word; but as he had taken me in his arms I held fast by him, or I should have fallen to the ground.</p>
                    </div>
                    <a href="javascript:;" class="button button-text">Learn More</a>
                </div>
            </div>
            <div style="transition-delay: 200ms;" class="col-12 col-sm-6 col-md-4 section-features__column">
                <div class="features-micro text-center">
                    <div class="features-micro__icon">
                        <figure>
                            <img src="/images/features/icon-2.svg" width="60" height="60" alt="CREATE A SIMPLE LOGO" title="CREATE A SIMPLE LOGO">
                        </figure>
                    </div>
                    <div class="features-micro__headline">
                        <div class="features-micro__title">CREATE A SIMPLE LOGO</div>
                        <div class="features-micro__label features-micro__label_new">New</div>
                    </div>
                    <div class="features-micro__description">
                        <p>She gave my mother such a turn, that I have always been convinced I am indebted to Miss Betsey for having been born on a Friday.</p>
                    </div>
                    <a href="javascript:;" class="button button-text">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>