<section class="section section-features section_padding_xl section_gray">
    <div class="container">
        <div data-scroll-watch class="row section-features__row scroll-watch">
            <div style="transition-delay: 0ms;" class="col-12 col-sm-6 col-md-4 section-features__column">
                <div class="features-micro">
                    <div class="features-micro__headline">
                        <div class="features-micro__title">Dummy Content</div>
                    </div>
                    <div class="features-micro__description">
                        <p>Can make website design much easier and with our shortcode manager you can now create them even faster. Choose your desired shortcode and the manager will insert it for you.</p>
                    </div>
                    <a href="javascript:;" class="button button-text">Learn More</a>
                </div>
            </div>
            <div style="transition-delay: 100ms;" class="col-12 col-sm-6 col-md-4 section-features__column">
                <div class="features-micro">
                    <div class="features-micro__headline">
                        <div class="features-micro__title">Parallax Sections</div>
                    </div>
                    <div class="features-micro__description">
                        <p>You can create as many sections as you like, with or without paralaxx, it’s up to you! Brooklyn does not limit your imagination,see our 8 demos.</p>
                    </div>
                    <a href="javascript:;" class="button button-text">Learn More</a>
                </div>
            </div>
            <div style="transition-delay: 200ms;" class="col-12 col-sm-6 col-md-4 section-features__column">
                <div class="features-micro">
                    <div class="features-micro__headline">
                        <div class="features-micro__title">Clean Code</div>
                    </div>
                    <div class="features-micro__description">
                        <p>Brooklyn has been built with the latest submission requirements based on the WordPres Codex, everything is working as intended.</p>
                    </div>
                    <a href="javascript:;" class="button button-text">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>