<footer class="js-breakpoint-section footer">
    <div class="footer__wrapper">

        <section class="section footer-preview">
            <div class="container">
                <div data-scroll-watch class="footer-preview__title scroll-watch">This will change everything</div>
            </div>
        </section>

        <div class="footer__color"></div>
        <div class="js-breakpoint-image footer__bg"
             data-lg-src="/images/footer/preview-bg-lg.png"
             data-md-src="/images/footer/preview-bg-md.png"
             data-sm-src="/images/footer/preview-bg-sm.png"
             data-xs-src="/images/footer/preview-bg-xs.png"></div>

        <section class="section footer-main">
            <div class="container">
                <div class="footer-main__wrapper">
                    <div class="row footer-main__row">
                        <div class="col-12 col-md-8 footer-main__column-center">
                            <div class="footer-logo">
                                <a href="javascript:;">
                                    <svg width="36" height="32" viewBox="0 0 36 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.7 1.8H18.7V29.8H17.7V1.8Z" stroke="#ffffff" stroke-miterlimit="10"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.1 0.8L1.7 19.8L18.1 30.7L34.7 19.6L18.1 0.8Z" stroke="#ffffff" stroke-miterlimit="10"/>
                                    </svg>
                                </a>
                            </div>
                            <ul class="footer-menu">
                                <li class="footer-menu__child">
                                    <a href="javascript:;" class="footer-menu__item">Pages</a>
                                </li>
                                <li class="footer-menu__child">
                                    <a href="javascript:;" class="footer-menu__item">Support</a>
                                </li>
                                <li class="footer-menu__child">
                                    <a href="javascript:;" class="footer-menu__item">Terms of use</a>
                                </li>
                                <li class="footer-menu__child">
                                    <a href="javascript:;" class="footer-menu__item">Elements</a>
                                </li>
                                <li class="footer-menu__child">
                                    <a href="javascript:;" class="footer-menu__item">Answers</a>
                                </li>
                                <li class="footer-menu__child">
                                    <a href="javascript:;" class="footer-menu__item">Privacy Policy</a>
                                </li>
                                <li class="footer-menu__child">
                                    <a href="javascript:;" class="footer-menu__item">Product</a>
                                </li>
                                <li class="footer-menu__child">
                                    <a href="javascript:;" class="footer-menu__item">Workshops</a>
                                </li>
                                <li class="footer-menu__child">
                                    <a href="javascript:;" class="footer-menu__item">contacts</a>
                                </li>
                                <li class="footer-menu__child">
                                    <a href="javascript:;" class="footer-menu__item">Blog</a>
                                </li>
                                <li class="footer-menu__child">
                                    <a href="javascript:;" class="footer-menu__item">specials</a>
                                </li>
                                <li class="footer-menu__child">
                                    <a href="javascript:;" class="footer-menu__item">About us</a>
                                </li>
                                <li class="footer-menu__child">
                                    <a href="javascript:;" class="footer-menu__item">Work</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-4 footer-main__column-right">
                            <a href="https://craftwork.design/" target="_blank" class="footer-develop">
                                <span>Made by</span>
                                <svg width="119" height="38" viewBox="0 0 119 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M51.8 26C51.5 26.2 51.3 27.9 50.4 27.8C48.7 27.8 50.2 24.3 50.6 22.9C50.8 22.1 51.7 19.5 53.1 15.1C55.6 14.7 58.1 14.1 58.8 13.4C60.5 11.8 61.4 9.19998 61.4 9.19998C61.4 9.19998 59.1 9.89999 54.4 10.8L57 2.29999C57 2.29999 56.8 1.89999 56.3 2.19999C55.4 2.59999 54 3.39999 53.5 3.99999C52.9 4.69999 51.8 7.99998 50.6 11.8C50.5 11.8 50.4 11.8 50.3 11.8C48.8 12 47.3 12.2 46 12.4L46.4 11.6C46.9 11 48.4 8.29999 49.3 6.89999C50.9 4.09999 50.4 2.19999 49.9 1.49999C49.3 0.599985 47.5 0.499985 46.4 1.09999C45.7 1.49999 45.3 2.29999 44.8 3.69999C43.9 6.39999 42.3 11.6 42.3 11.6C42.3 11.6 42.1 12.2 41.9 12.8C38.2 13.1 34.7 13 30.5 12.5C26.1 11.9 22.6 11.1 19.2 12.7C18.4 13.1 17.8 13.5 17.3 13.8C17 11.2 14.2 10.1 12.7 9.89998C10.3 9.59998 7.89999 10.2 5.39999 12.6C4.49999 13.5 2.49999 15.7 1.49999 19.1C0.399994 23 0.899994 25.9 2.49999 27.7C4.49999 30 8.49999 30.3 11.1 28.6C12.2 27.9 13.7 26.1 14.5 22.9C14.8 22.9 15.2 22.9 15.6 22.9C17.2 22.8 17.9 21.5 18 21.4C17.7 22.4 17.4 23.4 16.8 25.3C16.4 26.5 16.2 27.7 16.9 28.6C17.6 29.5 18.5 29.5 19.3 29.5C21.2 29.6 23.5 27.2 23.5 27.2C23.5 27.2 23.7 29.3 26.9 29.5C29.4 29.6 30.6 27.7 30.6 27.7C30.6 27.7 30.7 29.3 32.8 29.5C34.9 29.6 36.6 27.4 37.8 25.2L35.6 31.6C35.6 31.6 34.6 34.8 35.5 36.5C36.2 37.9 38.2 38.1 39.2 37.9C40.2 37.7 41.7 37.2 43.2 34.4C45 31.1 45.4 23.1 45.4 21.6C45.5 18.7 45.3 18.2 45 15.5C46.1 15.5 47.2 15.5 48.5 15.5C48.7 15.5 49 15.5 49.3 15.5C48 19.7 46.9 23.5 46.7 24.3C45 29.2 48.8 29.6 49.3 29.6C53.1 29.6 54 27.1 54 27.1C54 27.1 54.4 26.2 54.4 25.9C54.3 25.3 52.5 25.6 51.8 26ZM48.2 3.59999C48.5 2.79999 49.1 2.09999 49.4 2.79999C49.7 3.49999 49 6.09999 47.5 8.59999C46.9 9.49999 45.9 11.2 45.7 11.6C46.2 9.99998 47.6 5.39999 48.2 3.59999ZM13.8 21.7C13.6 21.7 12.4 21.4 12.2 20C12 18.9 13.1 18.8 13.5 19.2C14.3 20.1 13.8 21.7 13.8 21.7ZM30.7 24.4C30.3 25.7 29.5 26.7 29 27.1C28.1 27.7 26.6 27.6 26.5 25.9C26.4 25.1 26.7 23.8 27.6 21.7C28.5 19.7 29.4 18.7 30.4 18.8C31.8 19 31.5 20.4 31.5 20.4C31.5 21.2 31.2 22.7 30.7 24.4ZM34 27.2C32.9 27.2 33.6 25.1 33.8 24.5C34.1 23.5 36.1 17.5 36.1 17.5C36.1 17.5 33.9 17.3 33.2 17.7C32.9 17.9 32.2 18.9 32.2 18.9C32.2 18.9 32.2 17.6 30.5 17.5C28.8 17.4 27.5 18.1 26.2 19.3C23 22.3 23.1 26 23.1 26C23.1 26 21.2 28.1 20.1 26.9C19.6 26.4 20.5 24.1 20.9 22.9C21.5 21 22.6 17.5 22.6 17.5C22.6 17.5 20.2 17.4 19.5 17.7C18.4 18.3 17.7 20.4 16.6 21.3C15.8 21.9 14.8 21.8 14.6 21.7C14.6 21.7 15.1 20.4 14.5 19.1C13.9 17.6 12.3 17.9 11.7 18.2C11 18.7 10.8 19.6 11.1 20.6C11.4 21.6 12.5 22.5 13.3 22.7C13.1 23.6 12.6 24.8 11.6 25.9C9.99999 27.8 7.69999 27.7 6.39999 25.8C5.39999 24.3 5.59999 20.4 7.19999 17.2C8.79999 13.9 10.3 12.8 12.1 12.5C14.2 12 16 13.5 15.6 15.8L15.5 16.1C15.5 16.1 15.5 16.3 15.5 16.4C15.8 16.7 16.6 16.9 17.8 15.6C19.7 13.5 24.6 14 31.2 14.9C35 15.4 37.1 15.5 40.8 15.6L38.6 22.1C37.7 24.4 36 27.2 34 27.2ZM42.6 31.3C41.4 34.2 40.4 34.8 39.7 35.1C39 35.4 38.7 35.2 38.5 34.7C38.3 34.1 38.7 32.7 38.7 32.7L44 16.3C44.9 21.9 43.8 28.5 42.6 31.3Z" fill="#ffffff"/>
                                    <path d="M116.4 13.6C118.1 12 119 9.30001 119 9.30001C119 9.30001 117 10.4 110.1 11.5L110.5 11C111 10.4 112.6 7.70001 113.4 6.30001C115.1 3.10001 114.5 1.60001 114 0.90001C113.4 9.53674e-06 111.6 -0.0999905 110.5 0.50001C109.8 0.90001 109.4 1.70001 108.9 3.10001C108 5.80001 106.4 11 106.4 11C106.4 11 106.2 11.5 106 12.1C100.1 12.8 95.4 12.9 89.3 12.1C84.9 11.5 81.6 10.9 78.3 12.6C77.7 12.9 77.1 13.2 76.7 13.6C76.6 12.1 75.7 10 71.5 9.80001C69.4 9.70001 66.5 10.7 64.3 12.8C63.3 13.7 61.4 15.9 60.4 19.3C59.3 23.2 59.8 26.1 61.4 27.9C63.4 30.2 66.6 29.8 68 29C69.1 28.3 69.7 27.4 69.9 26.9C70.4 27.8 70.9 28.4 71.6 29C72.8 29.9 75.6 30.2 77.8 26.9C78.3 26.1 78.7 24.8 79 23.8C79 23.8 79.5 24 80 24C80.5 24 81 23.8 81.2 23.6C80.7 25.6 80.8 27.4 81.9 28.6C83.7 30.6 89.6 30.7 91.2 23.4C92.1 23 92.8 22.6 93.5 21.7C93.7 21.8 94.7 22.5 96.2 21.7C96.4 21.6 95.5 23.7 94.9 25.6C94.5 26.8 94.3 28 95 28.9C95.7 29.8 96.6 29.8 97.4 29.8C100 29.8 102.3 25.5 102.3 25.5L101 29.1C101 29.1 100.8 29.8 101.5 29.8C102.7 29.8 103 29.8 103.7 29.8C104.2 29.8 104.3 29.1 104.3 29.1L105.5 25.9C105.5 25.9 107.4 25.9 107.4 27.5C107.4 28.9 108.1 29.8 109.7 29.8C110.7 29.8 112.4 29.7 113.2 28.7C113.4 28.4 113.9 27.5 113.9 27.3C114.1 26.8 114.5 26.2 113.6 26C113.3 25.9 112.1 26.1 112.1 26.1C112.1 26.1 111.4 26.1 111.1 27C110.9 27.5 110.7 28.2 110.2 28.2C109.2 28.2 110.2 26.8 108.5 25.7C107.9 25.3 106.2 25.3 106.1 25.2C106.7 25.1 107.5 25.3 109.1 24.5C110.5 23.8 113 22.9 113.3 19.2C113.5 16.9 109.1 16.7 107.5 19.2L108.6 15.7C111.3 15.2 115.4 14.4 116.4 13.6ZM112.3 2.90001C112.6 2.10001 113.2 1.40001 113.5 2.10001C113.8 2.80001 113.2 5.40001 111.6 7.90001C111 8.80001 110 10.5 109.8 10.9C110.3 9.40001 111.7 4.80001 112.3 2.90001ZM70.9 22.4C70.9 22.4 70.2 19.9 70.9 18.7C71.5 17.6 72.3 18.1 72.3 18.9C72.4 21.2 70.9 22.4 70.9 22.4ZM89.8 21.2C89.6 21.2 89.3 21.2 89 21.2C87.8 21.2 86.5 20.9 86.4 21.7C86.2 23.3 89.4 23.5 89.4 23.5C89.4 23.6 89.3 23.7 89.3 23.8C88 28.2 84.7 28.2 84.2 26.3C83.9 25.3 84.2 23.7 84.9 21.9C86.3 18.7 88.3 18.4 89 19.1C89.7 19.8 89.9 20.5 89.8 21.2ZM93.5 20.2C93.5 20.2 92.4 19.6 93 18.5C93.2 18 94 18 94.2 18.6C94.3 19.1 94 19.9 93.5 20.2ZM103.6 20.3C103.6 20.3 101.9 24.6 100.2 26.3C100.2 26.3 98.5 28.1 97.9 27.1C97.6 26.5 98.7 23.7 99.1 22.5C99.7 20.6 100.7 17.7 100.7 17.7C100.7 17.7 98.1 17.4 97.4 18.3C97.2 18.5 96.4 19.7 95.7 20.4C95 21.1 94.4 20.9 94.2 20.7C94.2 20.7 95.5 19.3 94.7 18.1C94.1 17.2 93.1 17.3 92.6 17.6C92 17.9 91.7 18.5 91.8 19.4C91.9 19.7 92.1 20.5 92.6 20.9C92.5 21.1 92.1 21.2 91.3 21.2C91.2 19.3 90.5 17.4 87.4 17.4C85.5 17.4 83 18.9 81.7 21.6C81.6 21.7 81.2 22.3 80 22.2C79.6 22.2 79.3 22.1 79.1 21.8C79.3 19.6 79.1 18.3 78.1 18C77.7 17.9 76.7 17.9 76.4 18.8C76 19.9 76.5 21.2 77.3 22.3C77.2 23.3 77.1 24.3 76.6 25.2C74.3 29.4 70.7 25.7 70.9 24.1C75.7 17.4 71.4 16.2 69.9 17C67 18.6 68.8 24 68.9 24.5C68.8 25.6 66.1 27.4 64.6 25.5C63.4 24 64.1 19.5 65.7 16.2C67.3 12.9 69.7 11.8 71.9 11.8C73.6 11.8 74.4 12.7 74.5 13.9C74.6 14.5 74.5 15.4 74.3 16.1C74.2 16.4 74.8 17.5 77 15.5C79.2 13.4 82 13.2 89 14.6C94.1 15.6 100.1 15.6 104.8 15.5C104.4 17.7 103.6 20.3 103.6 20.3ZM110.2 21.3C108.7 24.3 105.9 23.8 105.9 23.8L106.8 21C108.1 18.5 112.1 17.6 110.2 21.3Z" fill="#ffffff"/>
                                </svg>
                            </a>
                            <div class="footer-social">
                                <a href="https://craftwork.design/" class="footer-social__title" target="_blank">www.getcraftwork.com</a>
                                <ul class="footer-social__list">
                                    <li class="footer-social__child">
                                        <a href="javascript:;" class="footer-social__item" target="_blank">
                                            <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M23.3 2.80001C22.4 3.20001 21.5 3.40001 20.5 3.60001C21.5 3.00001 22.2 2.10001 22.6 0.900006C21.7 1.40001 20.6 1.80001 19.6 2.10001C18.7 1.20001 17.5 0.600006 16.1 0.600006C13.5 0.600006 11.3 2.70001 11.3 5.40001C11.3 5.80001 11.3 6.10001 11.4 6.50001C7.40001 6.30001 3.90001 4.40001 1.50001 1.50001C1.20001 2.20001 1.00001 3.00001 1.00001 3.90001C1.00001 5.60001 1.80001 7.00001 3.10001 7.90001C2.30001 7.90001 1.60001 7.70001 0.900006 7.30001C0.900006 7.30001 0.900006 7.30001 0.900006 7.40001C0.900006 9.70001 2.60001 11.7 4.70001 12.1C4.30001 12.2 3.90001 12.3 3.40001 12.3C3.10001 12.3 2.80001 12.3 2.50001 12.2C3.20001 14 5.00001 15.4 7.10001 15.4C5.50001 16.7 3.40001 17.5 1.20001 17.5C0.800006 17.5 0.400006 17.5 0.100006 17.4C2.20001 18.8 4.70001 19.6 7.40001 19.6C16.2 19.6 21 12.3 21 6.00001C21 5.80001 21 5.60001 21 5.40001C21.9 4.60001 22.7 3.80001 23.3 2.80001Z" fill="#ffffff"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="footer-social__child">
                                        <a href="javascript:;" class="footer-social__item" target="_blank">
                                            <svg width="11" height="23" viewBox="0 0 11 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M6.9 22.1H2.3V11.1H0V7.3H2.3V5C2.3 1.9 3.6 0 7.2 0H10.2V3.8H8.3C6.9 3.8 6.8 4.3 6.8 5.3V7.2H10.3L10 11.1H7V22.1H6.9Z" fill="#ffffff"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="footer-social__child">
                                        <a href="javascript:;" class="footer-social__item" target="_blank">
                                            <svg width="23" height="14" viewBox="0 0 23 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10.4 1.50001C10.8 2.10001 11 2.80001 11 3.60001C11 4.40001 10.8 5.10001 10.4 5.60001C10.2 5.90001 9.8 6.10001 9.4 6.40001C10.1 6.70001 10.6 7.10001 11 7.60001C11.4 8.20001 11.5 8.80001 11.5 9.60001C11.5 10.4 11.3 11.1 10.9 11.8C10.6 12.2 10.3 12.6 9.9 12.9C9.5 13.2 9 13.5 8.4 13.6C7.8 13.7 7.2 13.8 6.5 13.8H0.400002V0.100006H7C8.6 0.100006 9.7 0.600006 10.4 1.50001ZM3 2.40001V5.40001H6.3C6.9 5.40001 7.4 5.30001 7.7 5.10001C8.1 4.90001 8.3 4.50001 8.3 3.90001C8.3 3.30001 8.1 2.80001 7.6 2.60001C7.2 2.50001 6.6 2.40001 6 2.40001H3ZM3 7.70001V11.3H6.3C6.9 11.3 7.4 11.2 7.7 11.1C8.3 10.8 8.6 10.2 8.6 9.40001C8.6 8.70001 8.3 8.20001 7.7 7.90001C7.4 7.80001 6.9 7.70001 6.3 7.70001H3Z" fill="#ffffff"/>
                                                <path d="M19.8 3.79999C20.5 4.09999 21.1 4.59999 21.5 5.29999C21.9 5.89999 22.2 6.59999 22.3 7.39999C22.4 7.89999 22.4 8.49999 22.4 9.39999H15C15 10.4 15.4 11.1 16.1 11.5C16.5 11.8 17 11.9 17.6 11.9C18.2 11.9 18.7 11.7 19.1 11.4C19.3 11.2 19.5 11 19.6 10.7H22.3C22.2 11.3 21.9 11.9 21.3 12.5C20.4 13.5 19.1 14 17.5 14C16.2 14 15 13.6 13.9 12.8C12.9 12 12.4 10.6 12.4 8.79999C12.4 6.99999 12.9 5.69999 13.8 4.79999C14.7 3.89999 15.9 3.39999 17.4 3.39999C18.3 3.39999 19 3.49999 19.8 3.79999ZM15.8 6.09999C15.4 6.49999 15.2 6.99999 15.1 7.69999H19.6C19.6 6.99999 19.3 6.49999 18.9 6.09999C18.5 5.69999 18 5.59999 17.3 5.59999C16.7 5.49999 16.2 5.69999 15.8 6.09999Z" fill="#ffffff"/>
                                                <path d="M20.3 2.40001H14.5V0.700012H20.3V2.40001Z" fill="#ffffff"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="footer-social__child">
                                        <a href="javascript:;" class="footer-social__item" target="_blank">
                                            <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M11.2 0C5 0 0 5 0 11.2C0 17.4 5 22.4 11.2 22.4C17.4 22.4 22.4 17.4 22.4 11.2C22.5 5 17.4 0 11.2 0ZM18.4 5.2C19.7 6.7 20.5 8.6 20.6 10.6C18.6 10.5 16.2 10.5 14.2 10.7C14 10.1 13.7 9.5 13.4 8.9C15.6 7.9 17.4 6.6 18.4 5.2ZM11.2 1.9C13.5 1.9 15.5 2.7 17.2 4.1C16.2 5.4 14.6 6.5 12.6 7.3C11.5 5.3 10.3 3.6 8.89999 2.2C9.69999 2 10.4 1.9 11.2 1.9ZM7 2.9C8.4 4.2 9.6 6 10.7 8C8.6 8.6 6.20001 9 3.60001 9C3.10001 9 2.6 9 2.2 9C2.8 6.3 4.6 4.1 7 2.9ZM1.89999 10.8C2.39999 10.8 3 10.8 3.5 10.8C6.4 10.8 9.2 10.3 11.5 9.5C11.7 10 11.9 10.4 12.1 10.9C11.8 11 11.5 11.1 11.3 11.2C8.1 12.5 5.5 14.7 4.2 17.4C2.7 15.8 1.89999 13.6 1.89999 11.2C1.89999 11.1 1.89999 10.9 1.89999 10.8ZM11.2 20.6C9 20.6 7.1 19.9 5.5 18.6C6.7 16.1 9 14.1 11.8 12.8C12.1 12.7 12.4 12.6 12.8 12.5C13.1 13.4 13.4 14.4 13.7 15.4C14.1 17 14.4 18.5 14.6 20C13.5 20.4 12.4 20.6 11.2 20.6ZM16.3 19.1C16.1 17.6 15.8 16.1 15.4 14.5C15.2 13.7 15 13 14.7 12.3C16.5 12.1 18.7 12.2 20.5 12.3C20.2 15.1 18.6 17.6 16.3 19.1Z" fill="#ffffff"/>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</footer>