<header class="header">
    <div class="header__wrapper">
        <div class="container">
            <div class="row header__row">
                <div class="col-2">
                    <div class="header-logo">
                        <a href="javascript:;">
                            <svg width="36" height="32" viewBox="0 0 36 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.7 1.8H18.7V29.8H17.7V1.8Z" stroke="#232323" stroke-miterlimit="10"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M18.1 0.8L1.7 19.8L18.1 30.7L34.7 19.6L18.1 0.8Z" stroke="#232323" stroke-miterlimit="10"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="col-10">
                    <div class="js-menu header-menu">
                        <ul class="header-menu__list">
                            <li class="header-menu__child header-menu__child_active">
                                <a href="javascript:;" class="header-menu__item">Home</a>
                            </li>
                            <li class="header-menu__child header-menu__child_sub">
                                <div class="header-menu__item">Pages</div>
                                <div class="header-menu__sub-menu">
                                    <ul>
                                        <li>
                                            <a href="javascript:;">About Us</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Company</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Our Process</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Services</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Contact us</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">F.A.Q.</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="header-menu__child header-menu__child_sub">
                                <div class="header-menu__item">Elements</div>
                                <div class="header-menu__sub-menu">
                                    <ul>
                                        <li>
                                            <a href="javascript:;">Page 1</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">Page 2</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="header-menu__child">
                                <a href="javascript:;" class="header-menu__item">Product</a>
                            </li>
                            <li class="header-menu__child">
                                <a href="javascript:;" class="header-menu__item">Blog</a>
                            </li>
                            <li class="header-menu__child">
                                <a href="javascript:;" class="header-menu__item">Work</a>
                            </li>
                            <li class="header-menu__child">
                                <button type="button" class="button button-black">
                                    <span>Start a project</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="button js-nav button-nav">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="js-mask header__mask"></div>
    </div>
</header>