<section data-scroll-watch
         class="js-breakpoint-section section section-intro section_gray section_padding_xl">
    <div class="js-breakpoint-image section-intro__image"
         data-lg-src="/images/intro/intro-bg-lg.png"
         data-md-src="/images/intro/intro-bg-md.png"
         data-sm-src="/images/intro/intro-bg-sm.png"
         data-xs-src="/images/intro/intro-bg-xs.png"></div>
    <div class="container">
        <div class="row section-intro__row">
            <div class="col-12 col-md-8 col-lg-6 section-intro__column">
                <h1>Get Some Fresh AIR</h1>
                <div class="section-intro__sub-title">Fjord - Modern Landing Page</div>
            </div>
        </div>
    </div>
</section>