<section class="section swiper-section section-ipad section_gray">
    <div data-scroll-watch class="scroll-watch-trigger"></div>
    <div class="section-ipad__block">
        <div class="section-ipad__wrapper section_padding_xl">
            <div class="container">
                <div class="section-ipad__main">
                    <div class="row section-ipad__row">
                        <div class="col-12 col-md-8">
                            <div class="section__title">This will change everything</div>
                        </div>
                    </div>
                    <div class="row section-ipad__row">
                        <div class="col-12 col-md-6">
                            <div class="section-ipad__description">
                                <p>Your eCommerce website is just the start. Whether you are an established business or on the brink of a new idea, Squarespace gives you the tools to take your business from online store to recognized brand.</p>
                            </div>
                            <div class="section-ipad__footer">
                                <a href="javascript:;" class="button button-blue">
                                    <span>Get Started</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ipad-swiper">
            <div class="ipad-swiper__image">
                <button type="button" class="button ipad-swiper__button ipad-swiper__button_prev">
                    <svg width="71" height="71" viewBox="0 0 71 71" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M37.7 28.6L30 35.3L37.5 41.5" stroke="rgba(255,255,255,0.4)" stroke-width="2" stroke-miterlimit="10"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M35.5 0.5C54.8 0.5 70.5 16.2 70.5 35.5C70.5 54.8 54.8 70.5 35.5 70.5C16.2 70.5 0.5 54.8 0.5 35.5C0.5 16.2 16.2 0.5 35.5 0.5Z" stroke="rgba(255,255,255,0.2)" stroke-miterlimit="10"/>
                    </svg>
                </button>
            </div>
            <div class="js-ipad-swiper swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="ipad-swiper__micro">
                            <svg width="36" height="32" viewBox="0 0 36 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.7 1.8H18.7V29.8H17.7V1.8Z" stroke="#000000" stroke-miterlimit="10"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M18.1 0.8L1.7 19.8L18.1 30.7L34.7 19.6L18.1 0.8Z" stroke="#000000" stroke-miterlimit="10"/>
                            </svg>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="ipad-swiper__micro">
                            <svg width="36" height="32" viewBox="0 0 36 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.7 1.8H18.7V29.8H17.7V1.8Z" stroke="#26e6e6" stroke-miterlimit="10"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M18.1 0.8L1.7 19.8L18.1 30.7L34.7 19.6L18.1 0.8Z" stroke="#26e6e6" stroke-miterlimit="10"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>