<section class="section swiper-section section-iphone section_padding_lg">
    <div class="js-bg section-iphone__bg"></div>
    <div data-scroll-watch class="scroll-watch-trigger"></div>
    <div class="container">

        <div class="iphone-swiper">
            <div class="iphone-swiper__image"></div>
            <button type="button" class="button iphone-swiper__button iphone-swiper__button_prev">
                <svg width="101" height="101" viewBox="0 0 101 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M53.1383 44.9887L42.461 50.7163L52.4312 60.1208" stroke="rgba(255,255,255,1)" stroke-width="2" stroke-miterlimit="10"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M82.9782 66.3434C77.1092 86.6373 55.4717 92.2942 37.5819 81.1926C21.1771 71.0103 13.8939 51.1406 17.7122 35.5842C21.672 19.8865 36.7334 9.77482 54.9061 15.6438C74.3515 21.9371 88.9179 45.2716 82.9782 66.3434Z" stroke="rgba(255,255,255,0.4)" stroke-miterlimit="10"/>
                </svg>
            </button>
            <button type="button" class="button iphone-swiper__button iphone-swiper__button_next">
                <svg width="101" height="101" viewBox="0 0 101 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M47.8562 55.9356L58.5335 50.208L48.5633 40.8035" stroke="rgba(255,255,255,1)" stroke-width="2" stroke-miterlimit="10"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M18.0162 34.581C23.8852 14.287 45.5227 8.63016 63.4125 19.7317C79.8174 29.9141 87.1006 49.7838 83.2822 65.3401C79.3224 81.0379 64.261 91.1495 46.0884 85.2805C26.6429 78.9873 12.0765 55.6528 18.0162 34.581Z" stroke="rgba(255,255,255,0.4)" stroke-miterlimit="10"/>
                </svg>
            </button>
            <div class="js-iphone-swiper swiper-container">
                <div class="swiper-wrapper">
                    <div data-bg="#26e6e6" class="swiper-slide">
                        <div class="iphone-swiper__micro">
                            <svg width="36" height="32" viewBox="0 0 36 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.7 1.8H18.7V29.8H17.7V1.8Z" stroke="#ffffff" stroke-miterlimit="10"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M18.1 0.8L1.7 19.8L18.1 30.7L34.7 19.6L18.1 0.8Z" stroke="#ffffff" stroke-miterlimit="10"/>
                            </svg>
                        </div>
                    </div>
                    <div data-bg="#f5f6f8" class="swiper-slide">
                        <div class="iphone-swiper__micro">
                            <svg width="36" height="32" viewBox="0 0 36 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.7 1.8H18.7V29.8H17.7V1.8Z" stroke="#26e6e6" stroke-miterlimit="10"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M18.1 0.8L1.7 19.8L18.1 30.7L34.7 19.6L18.1 0.8Z" stroke="#26e6e6" stroke-miterlimit="10"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="iphone-block">
            <div class="iphone-block__body">
                <div class="iphone-list">
                    <div class="iphone-list__child">
                        <div class="platform-micro">
                            <div class="platform-micro__icon">
                                <figure>
                                    <img src="/images/iphone/icon-0.svg" width="60" height="60" alt="Create a beautiful website" title="Create a beautiful website">
                                </figure>
                            </div>
                            <div class="platform-micro__content">
                                <div class="platform-micro__title">Create a beautiful website.</div>
                                <div class="platform-micro__description">
                                    <p>Whether you want to create a blog, eCommerce store, portfolio, or all of the above, you can express your idea with a website powered by our elegant yet intuitive platform.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="iphone-list__child">
                        <div class="platform-micro">
                            <div class="platform-micro__icon">
                                <figure>
                                    <img src="/images/iphone/icon-1.svg" width="60" height="60" alt="Make your our business" title="Make your our business">
                                </figure>
                            </div>
                            <div class="platform-micro__content">
                                <div class="platform-micro__title">Make your our business.</div>
                                <div class="platform-micro__description">
                                    <p>From goods to services, every business needs a space online to bring in customers. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="iphone-list__child">
                        <div class="platform-micro">
                            <div class="platform-micro__icon">
                                <figure>
                                    <img src="/images/features/icon-1.svg" width="60" height="60" alt="Be artist" title="Be artist">
                                </figure>
                            </div>
                            <div class="platform-micro__content">
                                <div class="platform-micro__title">Be artist</div>
                                <div class="platform-micro__description">
                                    <p>An artist should always have control over their creative process.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="iphone-block__footer">
                <a href="javascript:;" class="button button-black button_fluid">
                    <span>Get started</span>
                </a>
            </div>
        </div>

    </div>
</section>