<section class="section section-platform section_gray section_padding_xl">
    <div class="container">
        <div class="row justify-content-center text-center section-platform__row">
            <div class="col-12 col-md-10">
                <div data-scroll-watch class="section__sub-title scroll-watch">Platform Features</div>
                <div data-scroll-watch class="section__description scroll-watch">
                    <p>At first, for some time, I was not able to answer him one word; but as he had taken me in his arms I held fast by him, or I should have fallen to the ground.</p>
                </div>
            </div>
        </div>
        <div data-scroll-watch class="row section-platform__row scroll-watch">
            <div style="transition-delay: 200ms;" class="col-12 col-sm-6 col-md-4 section-platform__column">
                <div class="platform-micro">
                    <div class="platform-micro__icon">
                        <figure>
                            <img src="/images/platform/icon-0.svg" width="60" height="60" alt="Dashboard" title="Dashboard">
                        </figure>
                    </div>
                    <div class="platform-micro__content">
                        <div class="platform-micro__title">Dashboard</div>
                        <div class="platform-micro__description">
                            <p>Looking cautiously round, to ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="transition-delay: 300ms;" class="col-12 col-sm-6 col-md-4 section-platform__column">
                <div class="platform-micro">
                    <div class="platform-micro__icon">
                        <figure>
                            <img src="/images/platform/icon-1.svg" width="60" height="60" alt="Discussions" title="Discussions">
                        </figure>
                    </div>
                    <div class="platform-micro__content">
                        <div class="platform-micro__title">Discussions</div>
                        <div class="platform-micro__description">
                            <p>This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="transition-delay: 400ms;" class="col-12 col-sm-6 col-md-4 section-platform__column">
                <div class="platform-micro">
                    <div class="platform-micro__icon">
                        <figure>
                            <img src="/images/platform/icon-2.svg" width="60" height="60" alt="Mobile Apps" title="Mobile Apps">
                        </figure>
                    </div>
                    <div class="platform-micro__content">
                        <div class="platform-micro__title">Mobile Apps</div>
                        <div class="platform-micro__description">
                            <p>This sounded a very good reason, and Alice was quite pleased to know it. 'I never thought of that before!' she said.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="transition-delay: 500ms;" class="col-12 col-sm-6 col-md-4 section-platform__column">
                <div class="platform-micro">
                    <div class="platform-micro__icon">
                        <figure>
                            <img src="/images/platform/icon-3.svg" width="60" height="60" alt="Fully Customizable" title="Fully Customizable">
                        </figure>
                    </div>
                    <div class="platform-micro__content">
                        <div class="platform-micro__title">Fully Customizable</div>
                        <div class="platform-micro__description">
                            <p>She gave my mother such a turn, that I have always been convinced I am indebted to Miss Betsey for having been born on a Friday.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="transition-delay: 600ms;" class="col-12 col-sm-6 col-md-4 section-platform__column">
                <div class="platform-micro">
                    <div class="platform-micro__icon">
                        <figure>
                            <img src="/images/platform/icon-4.svg" width="60" height="60" alt="Ecommerce" title="Ecommerce">
                        </figure>
                    </div>
                    <div class="platform-micro__content">
                        <div class="platform-micro__title">Ecommerce</div>
                        <div class="platform-micro__description">
                            <p>It was some time before he obtained any answer, and the reply, when made, was unpropitious.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="transition-delay: 700ms;" class="col-12 col-sm-6 col-md-4 section-platform__column">
                <div class="platform-micro">
                    <div class="platform-micro__icon">
                        <figure>
                            <img src="/images/platform/icon-5.svg" width="60" height="60" alt="Statistics" title="Statistics">
                        </figure>
                    </div>
                    <div class="platform-micro__content">
                        <div class="platform-micro__title">Statistics</div>
                        <div class="platform-micro__description">
                            <p>Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>