<section class="section section-prices section_gray section_padding_lg text-center">
    <div class="container">
        <div data-scroll-watch class="row section-prices__row scroll-watch">
            <div style="transition-delay: 0ms;" class="col-12 col-sm-6 col-md-4 section-prices__column">
                <div class="price-micro">
                    <div class="price-micro__head">
                        <div class="price-micro__type">Beginner</div>
                    </div>
                    <div class="price-micro__header">
                        <div class="price-micro__price">$4.99</div>
                    </div>
                    <div class="price-micro__body">
                        <div class="price-micro__description">
                            <p>Alice wondered a little at this, but she was too much in awe of the Queen to disbelieve it. 'I'll try it when I go home,' she thought to herself, the next time I'm a little late for dinner.</p>
                        </div>
                    </div>
                    <div class="price-micro__footer">
                        <a href="javascript:;" class="button price-micro__button">
                            <span>Get Started</span>
                        </a>
                    </div>
                </div>
            </div>
            <div style="transition-delay: 100ms;" class="col-12 col-sm-6 col-md-4 section-prices__column">
                <div class="price-micro">
                    <div class="price-micro__head">
                        <div class="price-micro__type">Standart</div>
                    </div>
                    <div class="price-micro__header">
                        <div class="price-micro__price">$14.99</div>
                    </div>
                    <div class="price-micro__body">
                        <div class="price-micro__description">
                            <p>You can create as many sections as you like, with or without paralaxx, it’s up to you! Brooklyn does not limit your imagination,see our 8 demos.</p>
                        </div>
                    </div>
                    <div class="price-micro__footer">
                        <a href="javascript:;" class="button price-micro__button">
                            <span>Get Started</span>
                        </a>
                    </div>
                </div>
            </div>
            <div style="transition-delay: 200ms;" class="col-12 col-sm-6 col-md-4 section-prices__column">
                <div class="price-micro">
                    <div class="price-micro__head">
                        <div class="price-micro__type">Pro</div>
                    </div>
                    <div class="price-micro__header">
                        <div class="price-micro__price">$99.99</div>
                    </div>
                    <div class="price-micro__body">
                        <div class="price-micro__description">
                            <p>Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.</p>
                        </div>
                    </div>
                    <div class="price-micro__footer">
                        <a href="javascript:;" class="button price-micro__button">
                            <span>Get Started</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>