<section class="section section-quotes swiper-section section_gray section_padding_xl">
    <div data-scroll-watch class="js-quotes-swiper swiper-container scroll-watch">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="quotes-micro">
                    <div class="quotes-micro__content">
                        <div class="quotes-micro__before">
                            <svg width="24" height="17" viewBox="0 0 24 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.6 0H6.2L1.5 7.2C0.6 8.6 0 9.9 0 11.5C0 14.7 2.2 16.6 4.8 16.6C7.5 16.6 9.5 14.5 9.5 11.6C9.5 9.8 8.8 8.2 7.3 7.3L10.6 0ZM23.2 0H18.8L14.1 7.2C13.2 8.6 12.6 9.9 12.6 11.5C12.6 14.7 14.8 16.6 17.4 16.6C20.1 16.6 22.1 14.5 22.1 11.6C22.1 9.8 21.4 8.2 19.9 7.3L23.2 0Z" fill="#232323"/>
                            </svg>
                        </div>
                        <div class="quotes-micro__title">It was some time before he obtained any answer, and the reply, when made, was unpropitious.</div>
                        <div class="quotes-micro__sub-title">Sir Walter Scott</div>
                        <div class="quotes-micro__after">
                            <svg width="24" height="17" viewBox="0 0 24 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.6 16.6L17 16.6L21.7 9.39998C22.6 7.99998 23.2 6.69998 23.2 5.09998C23.2 1.89998 21 -2.49879e-05 18.4 -2.52152e-05C15.7 -2.54512e-05 13.7 2.09997 13.7 4.99997C13.7 6.79997 14.4 8.39997 15.9 9.29997L12.6 16.6ZM-3.8147e-06 16.6L4.4 16.6L9.1 9.39997C10 7.99997 10.6 6.69997 10.6 5.09997C10.6 1.89997 8.4 -2.60894e-05 5.8 -2.63167e-05C3.1 -2.65527e-05 1.1 2.09997 1.1 4.99997C1.1 6.79997 1.8 8.39997 3.3 9.29997L-3.8147e-06 16.6Z" fill="#232323"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="quotes-micro">
                    <div class="quotes-micro__content">
                        <div class="quotes-micro__before">
                            <svg width="24" height="17" viewBox="0 0 24 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.6 0H6.2L1.5 7.2C0.6 8.6 0 9.9 0 11.5C0 14.7 2.2 16.6 4.8 16.6C7.5 16.6 9.5 14.5 9.5 11.6C9.5 9.8 8.8 8.2 7.3 7.3L10.6 0ZM23.2 0H18.8L14.1 7.2C13.2 8.6 12.6 9.9 12.6 11.5C12.6 14.7 14.8 16.6 17.4 16.6C20.1 16.6 22.1 14.5 22.1 11.6C22.1 9.8 21.4 8.2 19.9 7.3L23.2 0Z" fill="#232323"/>
                            </svg>
                        </div>
                        <div class="quotes-micro__title">It was some time before he obtained any answer.</div>
                        <div class="quotes-micro__sub-title">Sir Walter Scott</div>
                        <div class="quotes-micro__after">
                            <svg width="24" height="17" viewBox="0 0 24 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.6 16.6L17 16.6L21.7 9.39998C22.6 7.99998 23.2 6.69998 23.2 5.09998C23.2 1.89998 21 -2.49879e-05 18.4 -2.52152e-05C15.7 -2.54512e-05 13.7 2.09997 13.7 4.99997C13.7 6.79997 14.4 8.39997 15.9 9.29997L12.6 16.6ZM-3.8147e-06 16.6L4.4 16.6L9.1 9.39997C10 7.99997 10.6 6.69997 10.6 5.09997C10.6 1.89997 8.4 -2.60894e-05 5.8 -2.63167e-05C3.1 -2.65527e-05 1.1 2.09997 1.1 4.99997C1.1 6.79997 1.8 8.39997 3.3 9.29997L-3.8147e-06 16.6Z" fill="#232323"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="quotes-micro">
                    <div class="quotes-micro__content">
                        <div class="quotes-micro__before">
                            <svg width="24" height="17" viewBox="0 0 24 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.6 0H6.2L1.5 7.2C0.6 8.6 0 9.9 0 11.5C0 14.7 2.2 16.6 4.8 16.6C7.5 16.6 9.5 14.5 9.5 11.6C9.5 9.8 8.8 8.2 7.3 7.3L10.6 0ZM23.2 0H18.8L14.1 7.2C13.2 8.6 12.6 9.9 12.6 11.5C12.6 14.7 14.8 16.6 17.4 16.6C20.1 16.6 22.1 14.5 22.1 11.6C22.1 9.8 21.4 8.2 19.9 7.3L23.2 0Z" fill="#232323"/>
                            </svg>
                        </div>
                        <div class="quotes-micro__title">It was some time before he obtained any answer, and the reply, when made, was unpropitious.</div>
                        <div class="quotes-micro__sub-title">Sir Walter Scott</div>
                        <div class="quotes-micro__after">
                            <svg width="24" height="17" viewBox="0 0 24 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.6 16.6L17 16.6L21.7 9.39998C22.6 7.99998 23.2 6.69998 23.2 5.09998C23.2 1.89998 21 -2.49879e-05 18.4 -2.52152e-05C15.7 -2.54512e-05 13.7 2.09997 13.7 4.99997C13.7 6.79997 14.4 8.39997 15.9 9.29997L12.6 16.6ZM-3.8147e-06 16.6L4.4 16.6L9.1 9.39997C10 7.99997 10.6 6.69997 10.6 5.09997C10.6 1.89997 8.4 -2.60894e-05 5.8 -2.63167e-05C3.1 -2.65527e-05 1.1 2.09997 1.1 4.99997C1.1 6.79997 1.8 8.39997 3.3 9.29997L-3.8147e-06 16.6Z" fill="#232323"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>