html, body {
    position: relative;
    width: 100%;
    height: 100%;
}
body {
    display: table;
    table-layout: fixed;
    font-size: 16px;
    line-height: 22px;
    @include font-light-normal;
    letter-spacing: 0px;
    color: rgb(35,35,35);
    background-color: #ffffff;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

b,strong {

}
ul, ol {
    list-style: none;
}
ul, li {
    list-style-type: none;
}

a, a:visited, a:focus, a:active, a:hover,
button, button:visited, button:focus, button:active, button:hover {
    outline: none !important;
}
a::-moz-focus-inner,
button::-moz-focus-inner {
    outline: none !important;
}
a {
    color: rgb(35,35,35);
    text-decoration: none;
}

header, article, footer, section, figure {
    display: block;
}
.header, main, .footer {
    display: table-row;
    width: 100%;
}
main {
    position: relative;
    height: 100%;
}
.section {
    position: relative;

    &__title {
        @extend .fs-h1;
    }
    &__sub-title {
        @extend .fs-sm;
        text-transform: uppercase;
    }
    &__description {
        @extend .fs-lg;
    }
    &__title, &__sub-tite, &__description {
        &:first-child {
            margin-top: 0px;
        }
    }

    @include media-min(1px) {
        &__title, &__sub-tite, &__description {
            margin-top: 20px;
        }
    }

    @include media-min(768px) {
        &__title, &__sub-tite, &__description {
            margin-top: 40px;
        }
    }
}
.section_padding_xl {

    @include media-min(1px) {
        padding: 60px 0px;
    }

    @include media-min(576px) {
        padding: 70px 0px;
    }

    @include media-min(768px) {
        padding: 80px 0px;
    }

    @include media-min(992px) {
        padding: 90px 0px;
    }

    @include media-min(1200px) {
        padding: 100px 0px;
    }

    @include media-min(1500px) {
        padding: 110px 0px;
    }
}
.section_padding_lg {

    @include media-min(1px) {
        padding: 30px 0px;
    }

    @include media-min(576px) {
        padding: 40px 0px;
    }

    @include media-min(768px) {
        padding: 50px 0px;
    }

    @include media-min(992px) {
        padding: 60px 0px;
    }

    @include media-min(1200px) {
        padding: 70px 0px;
    }

    @include media-min(1500px) {
        padding: 80px 0px;
    }
}
.section_padding_md {

    @include media-min(1px) {
        padding: 20px 0px;
    }

    @include media-min(768px) {
        padding: 40px 0px;
    }
}
.section_gray {
    background-color: $gray-color;
}

figure {
    margin: 0px;
}
img {
    max-width: 100%;
    height: auto;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @include font-light-normal;
    @include font-size(12,12);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    width: auto;
    height: auto;
    border: none;
    box-shadow: none;
    border-radius: 0px;
    background-color: transparent;
    outline: none;
    color: #000000;
    cursor: pointer;
    &[disabled] {
        opacity: 0.5;
        cursor: default;
        pointer-events: none;
    }
}
.button_fluid {
    width: 100%;
}

.button-text {
    @include opacity-transition();
}
.button-black {
    padding: 5px 15px;
    height: 42px;
    color: #ffffff;
    background-color: #000000;
    @include opacity-transition();
}
.button-blue {
    @extend .button-text;
    padding: 5px 15px;
    width: 100%;
    height: 50px;
    max-width: 180px;
    border-radius: 40px;
    background-color: $blue-color;
    @include opacity-transition();
}
.button-demo {
    @extend .button-text;
    padding: 5px 15px;
    height: 40px;
    border-radius: 2px;
    background-color: $blue-color;
    @include opacity-transition();
}
.button-nav {
    position: relative;
    width: 20px;
    height: 12px;
    padding: 0px;
    letter-spacing: 0px;
    font-size: 0px;
    line-height: 1;
    > span {
        display: block;
        position: absolute;
        left: 0%;
        width: 100%;
        height: 2px;
        background-color: #000000;
        &:nth-child(1) {
            top: 0%;
        }
        &:nth-child(2) {
            top: 50%;
            margin-top: -1px;
        }
        &:nth-child(3) {
            bottom: 0%;
        }
    }
}

.container_fluid {
    max-width: 100%;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}

.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}