.section-quotes + .section-do-it {
    padding-top: 0px;
}

.section-do-it {
    overflow: hidden;

    .scroll-watch {
        &.do-it__column {
            opacity: 0;
            transition: opacity 200ms ease-out 0ms;
        }
    }

    .scroll-watch-in-view {
        &.do-it__column {
            opacity: 1;
        }
    }

    &__header {
        justify-content: flex-end;
    }
    &__title {
        @extend .fs-xl-s;
        @include font-black-normal;
        text-transform: uppercase;
        transform: translate(50px, 0px);
    }

}

.do-it {

    &:first-child {
        margin-top: 0px;
    }

    &__row {
        position: relative;
        text-align: center;
    }

    &__column-5 &__holder,
    &__column-6 &__holder {
        display: none;
    }
    &__micro {
        position: relative;
        display: inline-block;
        vertical-align: top;
        font-size: 0px;
        line-height: 1;
        &:hover .do-it__holder {
            opacity: 1;
        }
    }
    &__holder {
        position: absolute;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0, 0.7);
        opacity: 0;
        transition: opacity 0.2s ease-out 0s;
        z-index: 1;
    }

    @include media-max(1299px) {
        &__column-5, &__column-6 {
            display: none;
        }
    }

    @include media-min(1px) {
        margin-top: 20px;

        &__row, &__column {
            margin-top: 20px;
            &:first-child {
                margin-top: 0px;
            }
        }
    }

    @include media-min(768px) {
        margin-top: 30px;

        &__row {
            margin-top: 40px;
        }
        &__column {
            margin-top: 0px;
        }
    }

    @include media-min(1300px) {
        &__row {
            margin-top: 45px;
        }

        &__column-0 &__micro {
            transform: translate(-50px, -40px);
        }
        &__column-1 &__micro {
            transform: translate(50px, 0px);
        }
        &__column-3 &__micro {
            transform: translate(-30px, 5px);
        }
        &__column-4 &__micro {
            transform: translate(110px, 25px);
        }
        &__column-5 {
            position: absolute;
            top: 100%;
            left: 0%;
            transform: translate(-80px, -150px);
        }
        &__column-6 {
            position: absolute;
            bottom: 0%;
            right: 0%;
            transform: translate(80px, 50px);
        }
    }

    @include media-min(1500px) {
        &__column-5 {
            transform: translate(0px, -150px);
        }
    }

}