.section-features {

    &__row.scroll-watch &__column {
        opacity: 0;
        transition-property: opacity;
        transition-duration: 200ms;
        transition-timing-function: ease-out;
    }
    &__row.scroll-watch-in-view &__column {
        opacity: 1;
    }

    @include media-min(1px) {
        &__column {
            margin-top: 40px;
            &:nth-child(-n+1) {
                margin-top: 0px;
            }
        }
    }

    @include media-min(576px) {
        &__column {
            &:nth-child(-n+2) {
                margin-top: 0px;
            }
        }
    }


    @include media-min(768px) {
        &__column {
            margin-top: 0px;
            padding-left: 4%;
            padding-right: 4%;

            &:nth-child(-n+3) {
                margin-top: 0px;
            }

            &:first-child {
                padding-left: 15px;
            }
            &:last-child {
                padding-right: 15px;
            }
        }
    }
}

.features-micro {
    position: relative;

    &__icon {
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        height: 60px;
        font-size: 0px;
        line-height: 1;
        > figure > img {
            width: auto;
            max-height: 60px;
        }
    }
    &__headline {
        position: relative;
        font-size: 0px;
    }
    &__title {
        @extend .fs-md;
    }
    &__label {
        display: inline-block;
        vertical-align: middle;
        @extend .fs-xs;
        padding: 7px 12px;
        border-radius: 20px;
    }
    &__label_new {
        color: #ffffff;
        background-color: $blue-color;
    }
    &__description {
        @extend .fs-md;
        opacity: 0.5;
    }
    .button-text, &__headline, &__description {
        &:first-child {
            margin-top: 0px;
        }
    }

    @include media-min(1px) {
        &__title, &__label {
            text-transform: uppercase;
            margin-top: 10px;
            &:first-child {
                margin-top: 0px;
            }
        }

        .button-text, &__headline, &__description {
            margin-top: 15px;
        }
    }

    @include media-min(768px) {
        &__title {
            display: inline-block;
            vertical-align: middle;
        }
        &__title, &__label {
            margin-top: 0px;
            margin-right: 10px;
            &:last-child {
                margin-right: 0px;
            }
        }

        .button-text, &__headline, &__description {
            margin-top: 25px;
        }
    }
}