.footer {
    &__wrapper {
        position: relative;
    }
    &__color, &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0%;
        bottom: 0%;
    }
    &__color {
        background-color: $gray-color;
        z-index: 1;
    }
    &__bg {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 100%;
        z-index: 3;
    }

    @include media-min(1px) {
        &__wrapper {
            padding: 0px 0px 60px;
        }
    }

    @include media-min(768px) {
        &__wrapper {
            padding: 0px 0px 120px;
        }
    }
}

.footer-preview {
    position: relative;
    z-index: 2;

    .scroll-watch {
        &.footer-preview__title {
            opacity: 0;
            transform: translateY(40px);
            transition: opacity 200ms ease-out 0ms, transform 400ms ease-out 0ms;
        }
    }

    .scroll-watch-in-view {
        &.footer-preview__title {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    &__title {
        @extend .fs-xxl;
        @include font-black-normal;
        text-transform: uppercase;
    }

    @include media-min(768px) {
        text-align: right;
    }
}

.footer-main {
    position: relative;
    z-index: 4;
    &:first-child {
        margin-top: 0px;
    }

    &__wrapper {
        color: #ffffff;
        background-color: #000000;
        a {
            color: #ffffff;
        }
    }
    &__row {}

    @include media-min(1px) {
        margin-top: 60px;

        &__wrapper {
            padding: 25px 30px;
        }
        &__column-center, &__column-right {
            margin-top: 40px;
            &:first-child {
                margin-top: 0px;
            }
        }
    }

    @include media-min(768px) {
        margin-top: 150px;

        &__wrapper {
            padding: 50px 60px;
        }
        &__column-center {
            position: relative;
            padding-left: 70px;
        }
        &__column-right {
            text-align: right;
        }
        &__column-center, &__column-right {
            margin-top: 0px;
        }
    }

    @include media-min(1200px) {
        margin-top: 300px;
    }
}

.footer-logo {
    font-size: 0px;
    line-height: 1;
    @include opacity-transition;

    @include media-min(768px) {
        position: absolute;
        top: 0%;
        left: 0%;
        text-align: right;
    }
}

.footer-menu {
    line-height: 2.3;

    &__child {}
    &__item {
        @extend .fs-sm;
        text-transform: uppercase;
        @include opacity-transition;
    }

    @include media-min(1px) {
        margin-top: 20px;
    }

    @include media-min(768px) {
        margin-top: 0px;
        column-count: 3;
        column-gap: 80px;
        column-width: 33.33333%;
    }
}

.footer-develop {
    & > span {
        display: block;
        margin-bottom: 15px;
        opacity: 0.2;
        @extend .fs-sm;
        text-transform: uppercase;
        &:last-child {
            margin-bottom: 0px;
        }
    }
    & > svg {
        @include opacity-transition;
    }
}
.footer-develop,
.footer-social {
    &:first-child {
        margin-top: 0px;
    }

    @include media-min(1px) {
        margin-top: 40px;
    }

    @include media-min(768px) {
        margin-top: 80px;
    }
}

.footer-social {

    &__title, &__list {
        margin-top: 20px;
        &:first-child {
            margin-top: 0px;
        }
    }
    &__title {
        @extend .fs-sm;
        opacity: 0.2;
        transition: opacity 200ms ease-out 0ms;
        &:hover {
            opacity: 1;
        }
    }
    &__list {
        font-size: 0px;
        line-height: 1;
    }
    &__child {
        display: inline-block;
        vertical-align: middle;
        opacity: 0.2;
        transition: opacity 200ms ease-out 0ms;
        &:hover {
            opacity: 1;
        }
        &:last-child {
            margin-right: 0px;
        }
    }

    @include media-min(1px) {
        &__child {
            margin-right: 15px;
        }
    }

    @include media-min(768px) {
        &__child {
            margin-right: 30px;
        }
    }
}