.header {
    &__wrapper {
        position: absolute;
        width: 100%;
        top: 0%;
        left: 0%;
        z-index: 10;
    }
    &__row {
        align-items: center;

    }
    &__mask {
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0, 0.7);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 200ms ease-out 0ms, visibility 0ms linear 250ms;
        z-index: -1;
    }

    .button-nav {
        display: none;
    }

    @include media-max(767px) {
        .button-nav {
            display: block;
            margin-left: auto;
        }
    }

    @include media-min(1px) {
        &__wrapper {
            padding: 15px 0px;
        }
    }

    @include media-min(992px) {
        &__wrapper {
            padding: 45px 0px;
        }
    }
}

.header-logo {
    font-size: 0;
    line-height: 1;
    @include opacity-transition;
}

.header-menu {
    font-size: 0;
    text-align: right;
    &__child {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        &:first-child {
            margin-left: 0px;
        }
    }
    &__child_active &__item {
        opacity: 1;
    }
    &__item {
        position: relative;
        display: block;
        @include font-size(12,12);
        opacity: 0.5;
        text-transform: uppercase;
        cursor: pointer;
        transition: opacity 200ms ease-out 0ms;
        &:hover {
            opacity: 1;
        }
    }
    &__child_sub &__item {
        padding-right: 10px;
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-2px);
            right: 0%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 3px 3px 0 3px;
            border-color: #232323 transparent transparent transparent;
        }
    }
    &__sub-menu {
        > ul {
            padding: 25px 20px;
            background-color: #000000;
            color: rgba(255,255,255, 1);
            @extend .fs-sm;
            text-transform: uppercase;
            > li {
                display: block;
                margin-top: 25px;
                opacity: 0.5;
                transition: opacity 200ms ease-out 0ms;
                &:hover {
                    opacity: 1;
                }
                &:first-child {
                    margin-top: 0px;
                }
            }
            > li > a {
                color: rgba(255,255,255, 1);
            }
        }
    }

    @include media-max(767px) {
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        max-width: 70%;
        overflow-y: auto;
        transform: translate(-100%, 0%);
        -webkit-overflow-scrolling: touch;
        background-color: #000000;
        color: #ffffff;
        transition: transform 200ms ease-out 0ms;
        z-index: 10;

        &__list {
            padding: 25px 20px;
        }
        &__child {
            display: block;
            margin-right: 0px;
            margin-top: 20px;
            &:first-child {
                margin-top: 0px;
            }
        }
        &__item {
            color: #ffffff;
        }
        .button-black {
            padding: 0px;
            height: auto;
            opacity: 0.5;
        }

        &__sub-menu {

        }
    }

    @include media-min(768px) {
        display: block;
        &__child {
            margin-left: 15px;
        }
        &__child_sub:hover &__sub-menu {
            display: block;
        }
        &__sub-menu {
            display: none;
            position: absolute;
            min-width: 180px;
            top: 100%;
            left: 50%;
            padding-top: 15px;
            transform: translate(-50%, 0%);
        }
    }

    @include media-min(992px) {
        &__child {
            margin-left: 30px;
        }
    }
}

.header-menu-opened {
    .header__mask {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transition: visibility 0ms linear 0ms, opacity 200ms ease-out 50ms;
        z-index: 9;
    }
    .header-menu {
        transform: translate(0%, 0%);
    }
}