.section-intro {
    position: relative;

    > .container {
        z-index: 2;
    }

    &__image {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-position: 50% 100%;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
    }
    &__row {
        padding-top: 50px;
        height: 0;
    }
    &__sub-title {
        @include font-size(12, 18);
        text-transform: uppercase;
    }

    @include media-min(1px) {
        &__row {
            padding-bottom: 30%;
        }
    }

    @include media-min(576px) {
        &__row {
            padding-bottom: 35%;
        }
    }

    @include media-min(768px) {
        &__row {
            padding-bottom: 40%;
        }
    }

    @include media-min(768px) {
        &__column {
            position: absolute;
            top: 25%;
        }
    }

    @include media-min(992px) {
        &__row {
            padding-bottom: 58%;
        }
    }
}