.section-ipad {
    overflow: hidden;
    z-index: 1;

    .scroll-watch-trigger {
        position: absolute;
        top: 50%;
        left: 0%;
        width: 100%;
        height: 1px;
        z-index: -1;
    }
    .scroll-watch-trigger + .section-ipad__block {
        .section__title, .section-ipad__description, .section-ipad__footer {
            opacity: 0;
            transform: translateY(40px);
            transition: opacity 200ms ease-out 0ms, transform 400ms ease-out 0ms;
        }
        .section-ipad__description {
            transition-delay: 200ms;
        }
        .section-ipad__footer {
            transition-delay: 400ms;
        }
        .ipad-swiper {
            transform: translateX(100%);
            transition: transform 400ms ease-out 0ms;
        }
        .ipad-swiper__button {
            opacity: 0;
            transition: opacity 200ms ease-out 400ms;
        }
    }

    .scroll-watch-trigger.scroll-watch-in-view + .section-ipad__block {
        .section__title, .section-ipad__description, .section-ipad__footer {
            opacity: 1;
            transform: translateY(0px);
        }
        .ipad-swiper {
            transform: translateX(0%);
        }
        .ipad-swiper__button {
            opacity: 1;
        }
    }


    &__block, &__main {
        position: relative;
    }
    &__wrapper {
        background-color: #000000;
        color: #ffffff;
    }
    &__row, &__footer {
        &:first-child {
            margin-top: 0px;
        }
    }
    &__description {
        @extend .fs-md;
        opacity: 0.5;
    }

    @include media-min(1px) {
        &__row, &__footer {
            margin-top: 40px;
        }
    }

    @include media-min(1260px) {
        padding-bottom: 120px;

        &__row {
            margin-top: 50px;
        }
        &__footer {
            margin-top: 140px;
        }
    }

    @include media-min(1400px) {
        &__block {
            padding-left: 100px;
            padding-right: 100px;
        }
        &__main {
            left: -80px;
        }
        &__footer {
            margin-top: 140px;
        }
    }
}

.ipad-swiper {
    display: none;

    @include media-min(1260px) {
        display: block;
        position: absolute;
        width: 45%;
        max-width: 640px;
        height: 100%;
        top: 43%;
        right: 0%;

        .swiper-container, .swiper-wrapper {
            width: 100%;
            height: 83%;
        }
        .swiper-slide {
            width: 100%;
            height: 100%;
        }
        &__image {
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 83%;
            background-image: url("#{$image-src}/ipad.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            &:before {
                content: "";
                position: absolute;
                top: 40px;
                left: 120px;
                width: calc(100% - 120px);
                height: calc(100% - 150px);
                background-color: $gray-color;
                border: 1px solid #000000;
                border-right: none;
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
            }
        }
        &__button {
            position: absolute;
            top: 46%;
            transform: translateY(-50%);
            left: -80px;
            > path {
                transition: stroke 200ms ease-out 0ms;
            }
            &:hover {
                path {
                    stroke: rgba(255,255,255, 1);
                }
            }
        }
        &__micro {
            padding-left: 80px;
            padding-top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            > svg, img {
                width: 160px;
                height: auto;
            }
        }
    }
}