.section-iphone {
    .scroll-watch-trigger {
        position: absolute;
        top: 50%;
        left: 0%;
        width: 100%;
        height: 1px;
        z-index: -1;
    }

    .scroll-watch-trigger + .container {
        .iphone-swiper {
            opacity: 0;
            transition: opacity 200ms ease-out 0ms;
        }
        .iphone-block {
            opacity: 0;
            transition: opacity 200ms ease-out 0ms;

        }
    }
    .scroll-watch-in-view + .container {
        .iphone-swiper, .iphone-block {
            opacity: 1;
        }
    }

    overflow: hidden;

    &__bg {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    @include media-max(991px) {
        &__bg {
            background-color: $blue-color !important;
        }
    }
}

.iphone-swiper {
    position: absolute;
    top: 60%;
    width: 500px;
    height: 140%;
    transform: translate(0%, -50%) rotate(-45deg);
    z-index: 2;

    .swiper-container, .swiper-wrapper, .swiper-slide {
        width: 100%;
        height: 100%;
    }

    &__micro {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        left: 10%;
        bottom: 5%;
        > svg, img {
            width: 80px;
            height: auto;
        }
    }
    &__button {
        position: absolute;
        transform: translateY(-50%);
        z-index: 2;
        > path {
            transition: stroke 200ms ease-out 0ms;
        }
        &:hover {
            path {
                stroke: rgba(255,255,255, 1);
            }
        }
    }
    &__button_prev {
        left: -5%;
        top: 40%;
    }
    &__button_next {
        top: 50%;
        right: -20%;
    }

    @include media-min(1px) {
        display: none;
    }

    @include media-min(992px) {
        display: block;

        &__image {
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-image: url("#{$image-src}/iphone/device.png");
            background-position: 0% 50%;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    @include media-min(1200px) {
        left: 0%;
    }

    @include media-min(1400px) {
        left: 10%;
    }
}

.iphone-block {
    position: relative;
    margin-left: auto;
    width: 100%;
    max-width: 380px;
    background-color: #ffffff;
    z-index: 3;

    &__body, &__footer {
        display: block;
        &:first-child {
            margin-top: 0px;
        }
    }

    @include media-max(991px) {
        margin-right: auto;
    }

    @include media-min(1px) {
        &__body, &__footer {
            margin-top: 30px;
        }
        &__body {
            padding: 20px 15px 0px;
        }
    }

    @include media-min(768px) {
        &__body, &__footer {
            margin-top: 60px;
        }
        &__body {
            padding: 40px 30px 0px;
        }
    }

    @include media-min(1200px) {
        right: -80px;
    }
}

.iphone-list {
    &__child {
        display: block;
        &:first-child {
            margin-top: 0px;
        }
    }

    @include media-min(1px) {
        &__child {
            margin-top: 30px;
        }
    }

    @include media-min(768px) {
        &__child {
            margin-top: 60px;
        }
    }
}