.section-platform {
    &__row {
        &:first-child {
            margin-top: 0px;
        }
    }

    .scroll-watch {
        &.section__sub-title,
        &.section__description {
            opacity: 0;
            transform: translateY(40px);
            transition: opacity 200ms ease-out 0ms, transform 400ms ease-out 0ms;
        }
        &.section__description {
            transition-delay: 200ms;
        }
        &.section-platform__row .section-platform__column {
            opacity: 0;
            transition-property: opacity;
            transition-duration: 200ms;
            transition-timing-function: ease-out;
        }
    }

    .scroll-watch-in-view {
        &.section__sub-title,
        &.section__description {
            opacity: 1;
            transform: translateY(0px);
        }
        &.section-platform__row .section-platform__column {
            opacity: 1;
        }
    }

    @include media-min(1px) {
        &__row {
            margin-top: 20px;
        }
        &__column {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    @include media-min(768px) {
        &__row {
            margin-top: 40px;
        }
        &__column {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
}

.platform-micro {
    position: relative;

    &__icon {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 60px;
        height: 60px;
        text-align: center;
        figure > img {
            width: auto;
            max-height: 60px;
        }
    }
    &__content {
        position: relative;
    }
    &__icon + &__content {
        padding-left: 80px;
    }
    &__title {
        @extend .fs-lg;
    }
    &__description {
        @extend .fs-md;
        opacity: 0.5;
    }
    &__title, &__description {
        margin-top: 10px;
        &:first-child {
            margin-top: 0px;
        }
    }
}