.section-prices {

    &__row.scroll-watch &__column {
        opacity: 0;
        transition-property: opacity;
        transition-duration: 200ms;
        transition-timing-function: ease-out;
    }
    &__row.scroll-watch-in-view &__column {
        opacity: 1;
    }

    @include media-min(1px) {
        &__column {
            margin-top: 20px;
            &:nth-child(-n+1) {
                margin-top: 0px;
            }
        }
    }

    @include media-min(576px) {
        &__column {
            &:nth-child(-n+2) {
                margin-top: 0px;
            }
        }
    }

    @include media-min(768px) {
        &__column {
            margin-top: 40px;
            &:nth-child(-n+3) {
                margin-top: 0px;
            }
        }
    }
}

.price-micro {
    background-color: transparent;
    transition: background-color 0.2s ease-out 0ms;
    &:hover {
        background-color: #000000;
        .price-micro__type,
        .price-micro__price,
        .price-micro__description {
            color: #ffffff;
        }
        .price-micro__button {
            background-color: $blue-color;
        }
    }

    &__head, &__header, &__body, &__footer {
        margin-top: 30px;
    }
    &__head {}
    &__header {}
    &__type, &__price, &__description {
        transition: color 0.2s ease-out 0ms;
    }
    &__footer {}

    &__type {
        @extend .fs-sm;
        text-transform: uppercase;
    }
    &__price {
        @extend .fs-xl;
        @include font-black-normal;
    }
    &__description {
        @extend .fs-md;
        opacity: 0.5;
    }
    &__button {
        @extend .button-text;
        padding: 5px 15px;
        width: 100%;
        height: 50px;
        max-width: 180px;
        border-radius: 40px;
        transition: background-color 0.2s ease-out 0ms;
    }

    @include media-min(1px) {
        padding: 20px;

        &__head, &__header, &__body, &__footer {
            margin-top: 15px;
        }
    }

    @include media-min(576px) {
        &__body {
            height: 132px; //22px*6
            overflow: hidden;
        }
    }

    @include media-min(768px) {
        padding: 40px 40px 50px;

        &__head, &__header, &__body, &__footer {
            margin-top: 30px;
        }
    }
}