.section-platform + .section-quotes {
    padding-top: 0px;
}

.section-quotes {

    .scroll-watch {
        &.swiper-container {
            opacity: 0;
            transition: opacity 200ms ease-out 0ms;
        }
    }

    .scroll-watch-in-view {
        &.swiper-container {
            opacity: 1;
        }
    }

    @include media-min(1px) {
        .swiper-slide {
            width: 80%;
        }
    }

    @include media-min(992px) {
        .swiper-slide {
            width: 75%;
        }
    }

    @include media-min(1200px) {
        .swiper-slide {
            width: 50%;
        }
    }
}

.quotes-micro {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
    background-color: #ffffff;
    text-align: center;

    &__title {
        @extend .fs-xl-m;
        @include font-thin-normal;
    }
    &__sub-title {
        @extend .fs-sm;
        text-transform: uppercase;
    }
    &__title, &__sub-title {
        &:first-child {
            margin-top: 0px;
        }
    }
    &__before, &__after {
        position: absolute;
        font-size: 0px;
        line-height: 1;
        opacity: 0.2;
        & > svg, > img {
            max-width: 100%;
            height: auto;
        }
    }


    @include media-min(1px) {
        &__content {
            padding: 20px 30px;
        }
        &__before {
            top: 10px;
            left: 10px;
        }
        &__after {
            bottom: 10px;
            right: 10px;
        }
        &__before, &__after {
            width: 20px;
            height: 14px;
        }

        &__title, &__sub-title {
            margin-top: 15px;
        }
    }

    @include media-min(768px) {
        &__content {
            padding: 35px 80px;
        }
        &__before {
            top: 35px;
            left: 35px;
        }
        &__after {
            bottom: 35px;
            right: 35px;
        }
        &__before, &__after {
            width: 24px;
            height: 18px;
        }

        &__title, &__sub-title {
            margin-top: 25px;
        }
    }
}