$font-src: "/fonts";
$image-src: "/images";
$blue-color: #26e6e6;
$gray-color: #f5f6f8;

@mixin font-face($family, $local1, $local2, $url, $weight, $style)  {
    @font-face {
        font-display: swap;
        font-family: $family;
        src: url('#{$url}.eot');
        src: local($local1), local($local2),
        url('#{$url}.eot?#iefix') format('embedded-opentype'),
        url('#{$url}.woff') format('woff'),
        url('#{$url}.ttf') format('truetype');
        font-weight: $weight;
        font-style: $style;
    }
}

@mixin font-thin-normal {
    font-family: 'Montserrat';
    font-weight: 100;
    font-style: normal;
}
//@mixin font-thin-italic {
//    font-family: 'Montserrat';
//    font-weight: 100;
//    font-style: italic;
//}

@mixin font-light-normal {
    font-family: 'Montserrat';
    font-weight: 300;
    font-style: normal;
}
//@mixin font-light-italic {
//    font-family: 'Montserrat';
//    font-weight: 300;
//    font-style: italic;
//}

@mixin font-black-normal {
    font-family: 'Montserrat';
    font-weight: 900;
    font-style: normal;
}
//@mixin font-black-italic {
//    font-family: 'Montserrat';
//    font-weight: 900;
//    font-style: italic;
//}

@mixin font-size($fontSize, $lineHeight) {
    font-size: #{$fontSize/16}rem;
    line-height: $lineHeight/$fontSize;
}

@mixin media-max($res) {
    @media only screen and (max-width: $res) {
        @content;
    }
}

@mixin media-min($res) {
    @media only screen and (min-width: $res) {
        @content;
    }
}

@mixin opacity-transition() {
    transition: opacity 200ms ease-out 0ms;
    &:hover {
        opacity: 0.8;
    }
}