.section-text {
    text-align: center;

    .scroll-watch {
        &.section__title,
        &.section__description {
            opacity: 0;
            transform: translateY(40px);
            transition: opacity 200ms ease-out 0ms, transform 400ms ease-out 0ms;
        }
        &.section__description {
            transition-delay: 200ms;
        }
    }

    .scroll-watch-in-view {
        &.section__title,
        &.section__description {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    &__row {
        justify-content: center;
        &:first-child {
            margin-top: 0px;
        }
    }

    @include media-min(1px) {
        &__row {
            margin-top: 20px;
        }
    }

    @include media-min(768px) {
        &__row {
            margin-top: 40px;
        }
    }
}