.fs-xs {
    @include font-size(10,10);
    letter-spacing: 0.05em;
}
.fs-sm {
    @include font-size(12,12);
    letter-spacing: 0.05em;
}
.fs-md {
    @include font-size(14,22);
}
.fs-lg {

    @include media-min(1px) {
        @include font-size(14,22);
    }

    @include media-min(576px) {
        @include font-size(16,24);
    }

    @include media-min(768px) {
        @include font-size(18,26);
    }
}
.fs-xl-s {

    @include media-min(1px) {
        @include font-size(18,24);
    }

    @include media-min(576px) {
        @include font-size(22,30);
    }

    @include media-min(768px) {
        @include font-size(26,36);
    }
}
.fs-xl-m {

    @include media-min(1px) {
        @include font-size(16,22);
    }

    @include media-min(576px) {
        @include font-size(22,36);
    }

    @include media-min(768px) {
        @include font-size(32,46);
    }

    @include media-min(1500px) {
        @include font-size(42,56);
    }
}
.fs-xl {
    letter-spacing: 0.05em;

    @include media-min(1px) {
        @include font-size(20,42);
    }

    @include media-min(576px) {
        @include font-size(30,52);
    }

    @include media-min(768px) {
        @include font-size(40,62);
    }

    @include media-min(1500px) {
        @include font-size(50,72);
    }
}
.fs-h1 {
    @include font-thin-normal;
    letter-spacing: 0.05em;

    @include media-min(1px) {
        @include font-size(24,30);
    }

    @include media-min(576px) {
        @include font-size(32,40);
    }

    @include media-min(768px) {
        @include font-size(42,50);
    }

    @include media-min(992px) {
        @include font-size(52,60);
    }

    @include media-min(1200px) {
        @include font-size(62,70);
    }

    @include media-min(1500px) {
        @include font-size(72,80);
    }

}
.fs-xxl {
    letter-spacing: 0.05em;

    @include media-min(1px) {
        @include font-size(35,65);
    }

    @include media-min(576px) {
        @include font-size(45,75);
    }

    @include media-min(768px) {
        @include font-size(55,85);
    }

    @include media-min(992px) {
        @include font-size(65,95);
    }

    @include media-min(1200px) {
        @include font-size(75,105);
    }

    @include media-min(1500px) {
        @include font-size(85,115);
    }
}

h1 {
    @extend .fs-h1;
    text-transform: uppercase;
}